.Employeeoverview {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 7px 18px #64646430;
  border-radius: 10px;
  opacity: 1;
  height: 140px;
}
.convasChart {
  height: 350 !important;
  width: auto !important;
}

.indian-finance-revneue-overview1 {
  height: 400px !important;
  width: 800px;
  font-style: normal;
}

.employeeoveriew_content {
  text-align: left;
  font: normal normal bold 14px/24px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
}
.ActiveEmployeeContent {
  text-align: left;
  font: normal normal bold 14px/24px Segoe UI;
  font-size: 14px;
  letter-spacing: 0px;
  color: #989898;
  opacity: 1;
  margin: 0;
}
.total_employees_content {
  text-align: left;
  font: normal normal normal 14px/24px Segoe UI;
  letter-spacing: 0px;
  color: #989898;
  opacity: 1;
}
.billble_content {
  text-align: left;
  font: normal normal normal 14px/24px Segoe UI;
  letter-spacing: 0px;
  color: #989898;
  opacity: 1;
}
.bench_Employee-Progress {
  text-align: left;
  font: normal normal 600 22px/24px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.total_employee_content {
  height: 35px;
  /* UI Properties */
  background: #83b8fd 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
}
.total_employee_content1 {
  height: 35px;

  background: #7277f6 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
}
.lastrowcontent {
  text-align: left;
  font: normal normal 600 14px/24px Segoe UI;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.Quick_Actions_image {
  padding: 10px 0px;
}

.Add_Employee_content {
  text-align: left;
  font: normal normal 600 14px/30px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.addEmployee_quick_action {
  cursor: pointer;
}
.adminName {
  font: normal normal bold 14px/24px Segoe UI;
  letter-spacing: 0px;
  color: #989898;
  opacity: 1;
}

.Project_Updated_Span {
  text-align: left;
  font: normal normal 600 14px/22px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.project_updated_name {
  text-align: left;
  font: normal normal normal 14px/18px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
}
.updated_task_content {
  text-align: left;
  font: normal normal normal 14px/18px Segoe UI;
  letter-spacing: 0px;
  color: #bfbfbf;
}
.updated_time {
  text-align: left;
  font: normal normal normal 14px/18px Segoe UI;
  letter-spacing: 0px;
  color: #bfbfbf;
  opacity: 1;
}
.ViewAll {
  text-align: center;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  font-family: "Segoe UI";
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.viewAlldiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 16px;
}
.EmployeeDashboard {
  font-family: Arial, sans-serif;
  border-radius: 10px;
  opacity: 0.9;
  height: 100%;
}

.EmployeeDashboard:hover {
  opacity: 1;
}

.EmployeeDashboard h1 {
  font-size: 24px !important;
  color: #196e8a;
}

.EmpHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  margin-top: 5px;
}

.EmpHeaderLeft {
  display: flex;
  align-items: center;
}

input[type="EmpSearchtxt"] {
  width: calc(33% 32px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 1em;
  margin-right: 10px;
  margin-top: 0px;
}

.EmpCheckbox {
  margin-right: 5px !important;
  margin-top: 5px;
}

.EmpAddBtn {
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}

.EmpAddBtn {
  background-color: #007bff;
  color: white;
}

.EmpInactiveBtn {
  background-color: #f4d1ce;
  color: #f91a0a;
  margin-top: 10px;
  margin-right: 10px;
  padding: 5px 15px;
  border-radius: 7px;
}

.EmpAddBtn:hover:hover {
  opacity: 0.9;
}

.EmpHeaderRight {
  display: flex;
  align-items: center;
}

.EmpHeaderRight a {
  text-decoration: none !important;
  color: #007bff !important;
  font-weight: bold !important;
}

.EmpHeaderRight a:hover {
  text-decoration: underline !important;
}

.EmpDashboardContainer {
  flex: 1;
  overflow: auto;
}

.EmpDashboardTbl {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}

.EmpDashboardTbl th,
.EmpDashboardTbl td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.EmpDashboardTbl th {
  background-color: #007bff;
  cursor: pointer;
  color: white;
  position: relative;
  padding-right: 20px;
}

.EmpDashboardTbl th.sorted-asc::after {
  content: "▲";
  font-size: 13px;
  color: yellowgreen;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.EmpDashboardTbl th.sorted-desc::after {
  content: "▼";
  color: yellowgreen;
  font-size: 13px;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.EmpDashboardTbl tr:nth-child(even) {
  background-color: #f9f9f9;
}

.EmpDashboardTbl tr:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

.EmpDashboardNoEmp {
  text-align: center;
  font-style: italic;
  color: #054d43;
}

.EmpDashPagination {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.EmpPaginationInfo {
  margin: 0 10px;
  font-size: 14px;
}

.EmpPaginationArrow {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background-color: greenyellow;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.EmpPaginationArrow:hover {
  background-color: #007bff;
  color: white;
}

.EmpPaginationArrow.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.AddEmpMdlOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.AddEmpMdlContent {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 100vh;
  overflow-y: auto;
  width: 50vw;
  padding: 20px;
  box-sizing: border-box;
}

.AddEmpMdlHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.AddEmpMdlHeaderLeft h2 {
  margin: 0 !important;
  color: #196e8a !important;
}

.AddEmpMdlRightDiv {
  text-align: right;
}

.AddEmpMdlRightCloseBtn {
  background: #f44336;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.AddEmpMdlContent form {
  display: flex;
  flex-direction: column;
}

.AddEmpMdlContent label input[type="EmpInputtxt"],
.AddEmpMdlContent label select,
.AddEmpMdlContent label textarea {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #939191;
  box-sizing: border-box;
}

.AddEmpMdlSubmitBtn {
  width: 100%;
  padding: 12px;
  background: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.AddEmpMdlContent .error {
  color: #f44336;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

.AddEmpMdlDoj {
  padding: 10px;
  width: 100%;
}

.AddEmpMdlPwdInput {
  position: relative;
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #939191;
  box-sizing: border-box;
}

.AddEmpMdlPwdInput input[type="password"],
input[type="txt"] {
  all: unset !important;
}

.AddEmpMdlEyeIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.AddEmpMdlPwdError {
  margin-top: 5px;
  font-size: 12px;
  color: red;
}
.projectOverview_content {
  text-align: left;
  font: normal normal bold 14px/24px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
  padding-top: 20px;
}
.Project_OverView {
  padding-top: 30px;
}
.recentActivities,
.Profit_and_loss_flowchat {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 7px 18px #64646430;
  border-radius: 10px;
  opacity: 1;
  display: flex;
  flex-direction: column;
}

.Project_progress {
  max-height: auto;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 7px 18px #64646430;
  border-radius: 10px;
  opacity: 1;
}
.Project_progress11 {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 7px 18px #64646430;
  border-radius: 10px;
  opacity: 1;
}
/* @media screen and (min-width: 1080px) and (max-width: 1920px) {
  .Project_progress11 {
    height: 436px;
  }
} */
.Active_project_conetnt {
  text-align: left;
  font: normal normal bold 14px/24px Segoe UI;
  letter-spacing: 0px;
  color: #989898;
  opacity: 1;
}

.activeEmployees {
  text-align: center;
  font: normal normal bold 12px/19px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.ActiveProject_Inprogress_notstated {
  text-align: left;
  font: normal normal normal 12px/24px Segoe UI;
  letter-spacing: 0px;
  color: #989898;
  opacity: 1;
}
.Profit_And_Loss_Summary {
  padding-top: 30px;
}
/* .Profit_and_loss_flowchat {
  min-height: 420px;
  max-height: auto;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 7px 18px #64646430;
  border-radius: 10px;
  opacity: 1;
} */

/* @media screen and (min-width: 1080px) and (max-width: 1920px) {
  .Profit_and_loss_flowchat {
    height: 533px;
  }
}
@media screen and (min-width: 1080px) and (max-width: 1366px) {
  .Profit_and_loss_flowchat {
    height: 605px;
  }
}
@media screen and (min-width: 1340px) and (max-width: 1366px) {
  .Profit_and_loss_flowchat {
    height: 490px;
  }
}
@media screen and (min-width: 1366px) and (max-width: 1920px) {
  .Profit_and_loss_flowchat {
    height: 500px;
  }
}
@media screen and (min-width: 1367px) and (max-width: 1920px) {
  .Profit_and_loss_flowchat {
    height: 470px;
  }
}
@media screen and (min-width: 1750px) and (max-width: 1920px) {
  .Profit_and_loss_flowchat {
    height: 500px;
  }
}
@media screen and (min-width: 1800px) and (max-width: 1920px) {
  .Profit_and_loss_flowchat {
    height: 520px;
  }
} */
/* .recentActivities {
  min-height: 420px;
  max-height: auto;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 7px 18px #64646430;
  border-radius: 10px;
  opacity: 1;
} */
/* @media screen and (min-width: 1114px) and (max-width: 1366px) {
  .recentActivities {
    height: 605px;
  }
}
@media screen and (min-width: 1340px) and (max-width: 1366px) {
  .recentActivities {
    height: 490px;
  }
}
@media screen and (min-width: 1365px) and (max-width: 1920px) {
  .recentActivities {
    height: 500px;
  }
}
@media screen and (min-width: 1367px) and (max-width: 1920px) {
  .recentActivities {
    height: 470px;
  }
}
@media screen and (min-width: 1750px) and (max-width: 1920px) {
  .recentActivities {
    height: 500px;
  }
}
@media screen and (min-width: 1800px) and (max-width: 1920px) {
  .recentActivities {
    height: 520px;
  }
} */
.Quick_Actions_div {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 7px 18px #64646430;
  border-radius: 10px;
  opacity: 1;
}
.addEmployee_quick_action {
  display: flex;
  align-items: center;
  justify-content: center;
}
.addEmployee_quick_action {
  width: 390px;
  height: 147px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e0e6ed;
  opacity: 1;
}
.quick-actions-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.quick-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 16px;
  border-radius: 8px;
  background-color: #f9f9f9;
  min-width: 160px;
  max-width: 200px;
  flex: 1 1 200px;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.quick-action:hover {
  background-color: #e6f0ff;
}
.quick-action img {
  height: 52px;
  width: 52px;
  margin-bottom: 10px;
}
.quick-action span {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
.Quick_Actions_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}
.timeStamp {
  font-size: clamp(14px, 2vw, 18px);
}
.addEmployee_quick_action {
  flex: 1 1 200px;
  max-width: 300px;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  transition: transform 0.2s ease;
  cursor: pointer;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.addEmployee_quick_action:hover {
  background-color: #f5f9ff;
}

.Add_Employee_content {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-top: 8px;
}
