.Dashboard-paragraph {
  text-align: left;
  font: normal normal bold 16px/24px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  text-transform: uppercase;
}
.total-balance {
  height: 160px;
  background: #eec0c091 0% 0% no-repeat padding-box;
  box-shadow: 0px 7px 18px #64646429;
  border-radius: 10px;
}
.monthly-income {
  background: #c8e3e5 0% 0% no-repeat padding-box;
  box-shadow: 0px 7px 18px #64646429;
  border-radius: 10px;
}
.monthly-expenses {
  background: #d4d69ae8 0% 0% no-repeat padding-box;
  box-shadow: 0px 7px 16px #64646429;
  border-radius: 10px;
}
.Total-Balance-Span {
  font-size: 16px;
  line-height: 29px;
  font-family: "Segoe UI", sans-serif;
  letter-spacing: 0px;
  padding-top: 30px !important;
  font-weight: bold;
}
.Total-balance-amout {
  text-align: center;
  font: normal normal bold 16px/29px Segoe UI;
  letter-spacing: 0px;
}
.white-line {
  border-bottom: 2px solid white;
  color: white;
  opacity: 1;
  height: 15px;
}
.see-details {
  font: normal normal 600 14px/19px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
}
.revenue-summary {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 7px 18px #64646430;
  border-radius: 10px;
  opacity: 1;
}
.expenses-overview {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 7px 18px #64646429;
  border-radius: 10px;
  opacity: 1;
}
.indian-finance-revneue-overview {
  height: 400px !important;
  width: 800px;
}
.css-1evyvmv-MuiChartsSurface-root {
  margin-left: 70px;
}
.chart-container {
  border-radius: 20px;
}
.css-6txha4 {
  font-size: 29px !important;
  font-weight: bold;
}
.css-6txha4 .expenses-overview-pie-chat-amout {
  font-size: 16px !important;
  font-weight: bold;
}

.legend-item {
  align-items: center;
  gap: 5px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #ccc;
}

.color-box {
  width: 15px;
  height: 15px;
  border-radius: 3px;
}

.direct {
  background-color: #03a99f;
}
.overhead {
  background-color: #f96935;
}
.general {
  background-color: #3b35da;
}
.profit-or-loss-summary-linebar {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 7px 18px #64646430;
  border-radius: 10px;
  opacity: 1;
}
.profit-or-loss-summary-contant {
  text-align: left;
  font: normal normal bold 16px/24px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  text-transform: uppercase;
}
.profit-or-loss-summary-table-data {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 7px 18px #64646430;
  border-radius: 10px;
  opacity: 1;
}
.ProfitorlossData td {
  font-size: 14px;
}
