.AllProject-maindiv {
  height: auto;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 16px #e5e5e5;
  border-radius: 5px;
  opacity: 1;
}
.projectdeletedbutton:disabled {
  cursor: not-allowed;
}
.deleteSelected-Span {
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 30px;
  font-family: Raleway, sans-serif;
}
.addnewProject-span {
  height: 14px;
  text-align: left;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 30px;
  font-family: Raleway, sans-serif;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.add-new-project-button {
  width: 147px;
  height: 36px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.add-new-project-span {
  text-align: left;
  font: normal normal bold 1px/30px Raleway;
  letter-spacing: 0px;
  font-size: 14px;
  color: #000000;
  opacity: 1;
}
.project-list-content {
  /* width: 46px; */
  height: 19px;
  text-align: left;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  font-family: "Segoe UI", sans-serif;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

table.dataTable thead th,
table.dataTable thead td {
  padding: 9px 11px;
}

.employeeTable tr td:first-child {
  padding-block: 5px;
  border-left: 1px solid #cbc9cf;
  border-radius: 5px 0px 0px 5px;
}

.employeeTable tr td:last-child {
  padding-block: 5px;
  border-right: 1px solid #cbc9cf;
  border-radius: 0px 5px 5px 0px;
}

.employeeTable tr td {
  border-block: 1px solid #cbc9cf;
}

.employeeTable tr:nth-child(even) {
  background-color: #edf2f7 !important;
}
.employeeTable tr:nth-child(even) td {
  border: none !important;
}

.employeeTable {
  border-collapse: separate;
  border-spacing: 0px 10px !important;
}

.tableheader th {
  background-color: #9ec3e8;
}

.tableheader th:first-child {
  padding-block: 10px;
  border-radius: 5px 0px 0px 5px;
  padding-left: 10px;
}
.tableheader th:last-child {
  padding-block: 10px;
  padding-right: 10px;
  border-radius: 0px 5px 5px 0px;
}

.tablebody td:first-child {
  padding-left: 10px;
}

.tablebody td:last-child {
  padding-right: 10px;
}

table.dataTable thead th {
  border-bottom: none;
}
.Project-list-content {
  text-align: left;
  font: normal normal bold 16px/17px Segoe UI;

  letter-spacing: 0px;
  color: #000000;
}
.listofProjectContents {
  text-align: left;
  font: normal normal bold 14px/24px Segoe UI;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
