.support-page {
  padding: 20px;
  font-family: Arial, sans-serif;
}
.support-main-div {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 7px 18px #64646430;
  border-radius: 10px;
  opacity: 1;
  padding: 10px;
}
.support-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.support-card {
  flex: 1 1 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.support-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.support-card h4 {
  margin-bottom: 8px;
  color: #0071ff;
}

.support-card p {
  font-size: 14px;
  color: #555;
}
